* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9f9f9;
}

main {
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
}

/* ----------------------
ADIMIN EDIT USER HOME
----------------------- */

.nav_section {
    min-width: 230px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    align-items: center;
}

.title_top {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    padding-top: 25%;
}

.title_top h2 {
    font-size: 30px;
    color: #233A3B;
}

.title_top span {
    font-size: 100px;
}

.nav_section ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
    text-align: center;
    width: 195px;
    color: #233A3B;
}

.nav_section li {
    text-decoration: none;
    padding: 5% 8%;
    display: flex;
    column-gap: 3px;
}

.nav_section li i {
    font-size: 22px;
    padding-right: 5%;
    padding-left: 3%;
}

.nav_section a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nav_section .fa-edit {
    color: #fff;
}

.nav_section .link_hover {
    background: #00DAA1;
    border-radius: 24px;
    text-shadow: 1px 1px 2px gray;
}

.nav_section .link_hover a {
    color: #fff;
    font-weight: bold;
}

.nav_section button {
    width: 75%;
    height: 36px;
    background-color: #bbb;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 20%);
}

.panel_section {
    background-color: #D5E2F1;
    margin: 3% 3% 3% 1%;
    border-radius: 15px;
    padding: 7% 5% 8% 5%;
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    box-shadow: 18px 18px 40px #b5c0cd,
        -18px -18px 40px #f5ffff;
}

.panel_section h2 {
    text-align: center;
    font-size: 26px;
}

.panel_section article {
    min-width: 650px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1%;
    border-radius: 7px;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
}

.panel_section table {
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    font-size: 14px;
    border-color: #EBEEF1;

}

.panel_section table tr:nth-child(even) td {
    background-color: whitesmoke;
}

.panel_section th {
    background-color: #EBEEF1;
    height: 40px;
    padding-left: 2.5%;
    border-bottom: 2.5px solid #AEDDE7;
}

.panel_section tr {
    border-top: 0.5px solid #ccc;
}

.panel_section td {
    height: 55px;
    padding-left: 2.5%;
}

.btn_edit {
    padding: 7px 11px;
    background-color: #CEF4E9;
    border: 1px solid #28a989;
    border-radius: 4px;
    margin-right: -14px;
}

.btn_edit i {
    color: #28a989;
    font-size: 17px;
}

.btn_delete {
    padding: 7px 11px;
    background-color: #FFD9DA;
    border: 1px solid #ec7b7f;
    border-radius: 4px;
}

.btn_delete i {
    color: #ec7b7f;
    font-size: 17px;
}

.last_td {
    margin-right: 10%;
}


/* ----------------------
ADIMIN EDIT USER PANEL
----------------------- */

.edit_panel {
    margin: 2% 15%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.edit_panel h1 {
    text-align: center;
}

.panel_section form {
    background-color: #fff;
    padding: 6% 15%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 20%);

}

.panel_section label {
    margin-top: 16px;
    text-indent: 3px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.panel_section input,
.panel_section select {
    width: 90%;
    height: 35px;
    padding: 0 3%;
    border: 0.8px solid gray;
    border-radius: 5px;
    background-color: #F2F1F5;
    font-size: 14px;
}

.panel_section select {
    width: 96%;
    height: 40px;
}

.panel_section button {
    margin: 10% 16%;
    height: 45px;
    background-color: #00DAA1;
    border: none;
    color: #fff;
    text-shadow: 2px 2px 4px gray;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 5px 8px #ccc;
    cursor: pointer;
}

.panel_section button:hover {
    background-color: #0fbb8d;

}